#!/bin/sh

DJANGODIR="{{ project_path }}"

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate

# Set additional environment variables.
. {{ virtualenv_path }}/bin/postactivate

# Make sure poetry is available
. $HOME/.poetry/env

echo "Installing all dependencies"
make
