{
  "type": "service_account",
  "project_id": "mitoc-discounts",
  "private_key_id": {{ oauth_private_key_id | to_json }},
  "private_key": {{ oauth_private_key | to_json }},
  "client_email": "mitoc-discounts@appspot.gserviceaccount.com",
  "client_id": "103163721462513306716",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/mitoc-discounts%40appspot.gserviceaccount.com"
}
